################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Dmitry.Ischenko.GeekBrains.ASP.NET.MVC.Core/WPF/bin/Debug/netcoreapp3.1
